KEYCLOAK_CLIENT_ID="kodosumi"
KEYCLOAK_CLIENT_SECRET="***"
KEYCLOAK_ISSUER="http://localhost:7080/realms/kodosumi"
NEXTAUTH_URL="http://localhost:3002"
NEXTAUTH_SECRET="***"
REGISTRY_URL="http://localhost:3367/"
NODE_TLS_REJECT_UNAUTHORIZED=0
PORT=3000